.checkout-product {
    margin-bottom: 20px;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 25px;

    .checkout-product-container {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        align-items: center;

        .col1 {
            position: relative;
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;

            .checkout-product-img {
                vertical-align: middle;
                max-height: 100px;
                max-width: 80px;
                display: inline-block;

                a img {
                    border-radius: 5px;
                    max-width: 100%;
                    height: auto;
                }
            }
        }

        .col2 {
            position: relative;
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;

            .checkout-product-details {
                h5 {
                    font-size: 1.2em;
                    margin: 0;
                    font-weight: 500;
                    line-height: 1.5;
                    color: #11141b;
                }

                .text-success {
                    color: #49f0d3;
                    margin-top: 0;
                    margin-bottom: 1rem;
                }
            }
        }

        .col3 {
            position: relative;
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            .row {
                .price-container {
                    position: relative;
                    width: 100%;
                    padding-left: 15px;
                    padding-right: 15px;

                    .price-container-flex {
                        display: flex;
                        flex-wrap: wrap;
                        margin-left: -15px;
                        margin-right: -15px;
                        align-items: center;
                        margin-top: 0.5rem;

                        .quantity {
                            position: relative;
                            width: 100%;
                            padding-left: 15px;
                            padding-right: 15px;

                            .qty-btn {
                                border: 1px solid #ededf0;
                                background: #fff;
                                height: 28px;
                                width: 30px;
                            }

                            #quantity {
                                display: inline-block;
                                width: 30px;
                                height: 28px;
                                border: 1px solid #ededf0;
                                text-align: center;
                            }

                            
                        }

                        .price {
                            position: relative;
                            width: 100%;
                            padding-left: 15px;
                            padding-right: 15px;
                        }
                    }
                }

                .remove {
                    position: relative;
                    padding-left: 15px;
                    padding-right: 15px;
                    width: 100%;

                    a {
                        color: black;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}